@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// fonts
$txt-inter: "Inter", sans-serif;

// colors
// primary
$clr-green: hsl(75, 94%, 57%);

// neutral
$clr-white: hsl(0, 0%, 100%);
$clr-lightGrey: hsl(0, 0%, 70%);
$clr-grey: hsl(0, 0%, 20%);
$clr-darkGrey: hsl(0, 0%, 12%);
$clr-offBlack: hsl(0, 0%, 8%);